{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}
<section class="hero-section">
    
    <div class="welcome-text-container">
        <h1>BIENVENUE SUR LOOTSHELF !</h1>
        <h2>VOTRE ÉTAGÈRE VIRTUELLE POUR VOS <strong>JEUX</strong></h2>
        
        <p class="texte-accueil">
            <strong>COLLECTIONNEZ, ORGANISEZ</strong> ET SUIVEZ VOTRE PROGRESSION DANS VOS JEUX PRÉFÉRÉS.<br>
            CRÉEZ VOTRE COMPTE POUR COMMENCER !
        </p>
    </div>

    <div class="chest-area">
        <img src="{{ asset('image/coffre_ferme.png') }}" alt="Coffre" class="pixelated main-chest">
    </div>

    

    <div class="cta-area">
        <a href="#" class="btn-neon btn-neon-green rounded-3 px-5 py-3">
            VOIR LES ÉTAGÈRES
        </a>
    </div>

</section>
{% endblock %}